.driver_appli_jobs {

    padding: 20px;
    text-align: center;
}

.job_info_container h2 {
    font-size: 70px;
}

.job_info_container h3 {
    font-weight: 900;
}

.btn_blue {
    padding: 8px 25px;
    background: linear-gradient(to bottom right, #2ec8c4, #1b4454);
    border-radius: 5px;
}

.btn_blue:hover {
    background: linear-gradient(to bottom right, #1b4454, #2ec8c4);
}

.btn_green {
    padding: 8px 25px;
    background: #5cc8c4;
    border-radius: 5px;
}